.jdp-container{
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*drop selection*/
.jdp-container, .jdp-container * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jdp-month-container, .jdp-year-container, .jdp-mins-container, .jdp-hours-container{
    width: 310px;
    display: inline-block;
    vertical-align: top;
}

.jdp-container-time{
	display:inline-block;
}

.jdp-do-not-show-time .jdp-container-time{
    display: none;
}

.jdp-day-item,
.jdp-month-item,
.jdp-min-item,
.jdp-hour-item{
    padding: 10px;
    margin: 4px;
    display: inline-block;
    width: 14px;
    text-align: center;
    border-radius: 4px;
    background-color: #E7E7E7;
    color: #494949;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid transparent;
    box-sizing: content-box;
}

.jdp-not-touch .jdp-day-item:hover,
.jdp-not-touch .jdp-month-item:hover,
.jdp-active-day,
.jdp-active-hour,
.jdp-active-min{
    color: #E7E7E7;
    background-color: #626262;
}

.jdp-active-month{
    border-color: #626262;
}

.jdp-month-item {
    width: 30px;
}

/*fake days*/
.jdp-fake-day-item{
    cursor: default;
    background: transparent;
    border-color: transparent;
}
.jdp-fake-day-item::before{
    color: transparent;
    content: '21';
}
.jdp-fake-day-item:hover{
    background-color: transparent !important;
    color: transparent !important;
}

.jdp-fake-day-item{
    /*hide all*/
    display: inline-block;
}

.jdp-fake-day-0 .jdp-fake-day-item{
    display: none;
}

.jdp-fake-day-1 .jdp-fake-day-1{
    display: none;
}

.jdp-fake-day-2 .jdp-fake-day-1,
.jdp-fake-day-2 .jdp-fake-day-2{
    display: none;
}

.jdp-fake-day-3 .jdp-fake-day-1,
.jdp-fake-day-3 .jdp-fake-day-2,
.jdp-fake-day-3 .jdp-fake-day-3{
    display: none;
}

.jdp-fake-day-4 .jdp-fake-day-1,
.jdp-fake-day-4 .jdp-fake-day-2,
.jdp-fake-day-4 .jdp-fake-day-3,
.jdp-fake-day-4 .jdp-fake-day-4{
    display: none;
}

.jdp-fake-day-5 .jdp-fake-day-1,
.jdp-fake-day-5 .jdp-fake-day-2,
.jdp-fake-day-5 .jdp-fake-day-3,
.jdp-fake-day-5 .jdp-fake-day-4,
.jdp-fake-day-5 .jdp-fake-day-5{
    display: none;
}

.jdp-fake-day-6 .jdp-fake-day-1,
.jdp-fake-day-6 .jdp-fake-day-2,
.jdp-fake-day-6 .jdp-fake-day-3,
.jdp-fake-day-6 .jdp-fake-day-4,
.jdp-fake-day-6 .jdp-fake-day-5,
.jdp-fake-day-6 .jdp-fake-day-6{
    display: none;
}
/*month*/

.jdp-month-days-27 .jdp-day-27,
.jdp-month-days-27 .jdp-day-28,
.jdp-month-days-27 .jdp-day-29,
.jdp-month-days-27 .jdp-day-30,
.jdp-month-days-27 .jdp-day-31{
    display: none;
}

.jdp-month-days-28 .jdp-day-28,
.jdp-month-days-28 .jdp-day-29,
.jdp-month-days-28 .jdp-day-30,
.jdp-month-days-28 .jdp-day-31{
    display: none;
}

.jdp-month-days-29 .jdp-day-29,
.jdp-month-days-29 .jdp-day-30,
.jdp-month-days-29 .jdp-day-31{
    display: none;
}

.jdp-month-days-30 .jdp-day-30,
.jdp-month-days-30 .jdp-day-31{
    display: none;
}

.jdp-month-days-31 .jdp-day-31{
    display: none;
}


.jdp-week-split {
    display: inline-block;
}

.jdp-months-split, .jdp-mins-split, .jdp-hours-split{
    display: block;
}

/*mon*/
/*.jdp-weeks-split-0 .jdp-week-split-0,*/
/*.jdp-weeks-split-0 .jdp-week-split-6,*/
.jdp-weeks-split-0 .jdp-week-split-13,
.jdp-weeks-split-0 .jdp-week-split-20,
.jdp-weeks-split-0 .jdp-week-split-27,
.jdp-weeks-split-0 .jdp-week-split-34{
    display: block;
}

/*th*/
/*.jdp-weeks-split-1 .jdp-week-split-1,*/
.jdp-weeks-split-1 .jdp-week-split-7,
.jdp-weeks-split-1 .jdp-week-split-14,
.jdp-weeks-split-1 .jdp-week-split-21,
.jdp-weeks-split-1 .jdp-week-split-28,
.jdp-weeks-split-1 .jdp-week-split-35{
    display: block;
}

/*w*/
/*.jdp-weeks-split-2 .jdp-week-split-2,*/
.jdp-weeks-split-2 .jdp-week-split-8,
.jdp-weeks-split-2 .jdp-week-split-15,
.jdp-weeks-split-2 .jdp-week-split-22,
.jdp-weeks-split-2 .jdp-week-split-29,
.jdp-weeks-split-2 .jdp-week-split-36{
    display: block;
}

/*cht*/
/*.jdp-weeks-split-3 .jdp-week-split-3,*/
.jdp-weeks-split-3 .jdp-week-split-9,
.jdp-weeks-split-3 .jdp-week-split-16,
.jdp-weeks-split-3 .jdp-week-split-23,
.jdp-weeks-split-3 .jdp-week-split-30,
.jdp-weeks-split-3 .jdp-week-split-37{
    display: block;
}

/*fri*/
/*.jdp-weeks-split-4 .jdp-week-split-4,*/
.jdp-weeks-split-4 .jdp-week-split-10,
.jdp-weeks-split-4 .jdp-week-split-17,
.jdp-weeks-split-4 .jdp-week-split-24,
.jdp-weeks-split-4 .jdp-week-split-31{
    display: block;
}

/*sat*/
/*.jdp-weeks-split-5 .jdp-week-split-5,*/
.jdp-weeks-split-5 .jdp-week-split-11,
.jdp-weeks-split-5 .jdp-week-split-18,
.jdp-weeks-split-5 .jdp-week-split-25,
.jdp-weeks-split-5 .jdp-week-split-32{
    display: block;
}

/*sat*/
/*.jdp-weeks-split-6 .jdp-week-split-6,*/
.jdp-weeks-split-6 .jdp-week-split-12,
.jdp-weeks-split-6 .jdp-week-split-19,
.jdp-weeks-split-6 .jdp-week-split-26,
.jdp-weeks-split-6 .jdp-week-split-33{
    display: block;
}

.jdp-week-split-37, .jdp-week-split-0{
    display: none;
}

/**/

.jdp-month-0::before{
    content: 'Jan';
}
.jdp-month-1::before{
    content: 'Feb';
}
.jdp-month-2::before{
    content: 'Mar';
}
.jdp-month-3::before{
    content: 'Apr';
}
.jdp-month-4::before{
    content: 'May';
}
.jdp-month-5::before{
    content: 'Jun';
}
.jdp-month-6::before{
    content: 'Jul';
}
.jdp-month-7::before{
    content: 'Aug';
}
.jdp-month-8::before{
    content: 'Sep';
}
.jdp-month-9::before{
    content: 'Oct';
}
.jdp-month-10::before{
    content: 'Nov';
}
.jdp-month-11::before{
    content: 'Dec';
}

.jdp-view-type-days .jdp-year-container,
.jdp-view-type-months .jdp-month-container{
    display: none;
}

.jdp-year-container{
    text-align: center;
}
/*header*/
.jdp-top {
    position: relative;
    text-align: left;
}

.jdp-top-title{
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    left: 0;
    top: 0;
}

.jdp-title{
    color: #747474;
    cursor: pointer;
}

.jdp-top-navi, .jdp-title{
    display: inline-block;
    line-height: 40px;
}

.jdp-top-navi{
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 20px;
    position: relative;
}

.jdp-next{
    float: right;
}
.jdp-back::before{
    content:"<";
}
.jdp-next::before{
    content:">";
}

.jdp-month-container{
    text-align:left;
}
.jdp-month-container,
.jdp-year-container,
.jdp-hours-container {
    margin-right: 20px;
}
.jdp-mins-container{
    width: 90px;
}
.jdp-hours-container{
    width: 180px;
}
.jdp-mins-container .jdp-title,
.jdp-hours-container .jdp-title {
    cursor: default;
}

.jdp-mins-container .jdp-top,
.jdp-hours-container .jdp-top {
    height: 40px;
}
.jdp-mins-container .jdp-mins-title::before{
    content: "Minutes"
}

.jdp-hours-container .jdp-hours-title::before{
    content: "Hours"
}